[Unit]
Description=Mount unit for lxd, revision 16099
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_16099.snap
Where=/snap/lxd/16099
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
