[Unit]
Description=Mount unit for lxd, revision 19188
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_19188.snap
Where=/snap/lxd/19188
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
